// Home

.home {
  background: url(images/bg-home-1.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-bullets {
  margin-top: 60px;
  padding-left: 8px;
}

.home-intro h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 0.95em;
  /*color: rgba(255,255,255,0.5);*/
  color: #0B1607;
  text-transform: uppercase;
}

.home-intro h1 span {
  /*font-size: 140px;*/
  display: block;
}

.home-intro h3 {
  font-size: 16px;
  font-weight: 400;
}

// Posts & pages

.post-title {
  margin-bottom: 30px;
  font-size: 48px;
}

